/* Styling

Primary Red: #E2231A
Secondary Red: #B3272D
Cool Gray: #646469

*/


/* Reset */

body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, p {
   margin: 0;
   padding: 0;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* Box Model */

 .box-model {
   background-color: #646469;
   padding: 0;
   margin: 0;
 }

/* Text Formatting */

h2 {
    font-size: 32px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

/* Font Linking */

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Header */

.head {
    background: #E2231A;
}

/* Visual Section */

.hero-section {
    background-color: white;
    padding: 5em;
}

/* Event Details Section */

.event-details-section {
    background-color: #B3272D;
    color: white;
}

.event-details-list ul {
    padding: 0;
    margin: 0;
}

.event-details-list ul li {
    list-style-type: none;
    background-color: #B3272D;
    margin: 1em;
    padding: 1em;
}

/* Student Groups Section */

.student-groups-section {
    background-color: white;
    color: #B3272D;
}

.gallery-button {
    background-color: white;
}

.student-groups-gallery ul {
    padding: 0;
    margin: 0;
}

.student-groups-gallery ul li {
    list-style: none;
    background-color: white;
    margin: 1em;
    padding: 1em;
    font-size: 32px;
}

.student-groups-gallery ul li a {
    font-size: 18px;
}

.view-more {
    background-color: #B3272D;
    color: white;
}

/* IDP Section */

.IDP-section {
    background-color: #B3272D;
    color: white;
}

/* Video Section */
.video-section {
    background-color: white;
    color: #B3272D;
}

/* Profs-Section */
.profs-section {
    background-color: #B3272D;
    color: white;
}

.profs-section ul li {
    list-style-type: none;
}

/* Creators Section */
.creators-section {
    background-color: white;
    color: #B3272D;
}

.creator-portfolio {
    background-color: #E2231A;
}

/* Footer */

.footer {
    background-color: #B3272D;
    color: white;
}

